
// The class name needs to match the names of the category and block
.wp-block-cloudblocks-card {
  max-width: 350px;
  background: none;
  position: relative;
  
  .card__img-wrapper {
    margin: 0 0 20px;
  }
  img {
    max-width: 100%;
  }

  h2 + h2:before {
    content: '' !important;
  }
}
