$sprites: (
    '250x250': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250'%3e%3cpath fill='%23dedede' stroke='%23555' stroke-width='2' d='M2 2h246v246H2z'/%3e%3ctext x='50%25' y='50%25' font-size='18' text-anchor='middle' alignment-baseline='middle' font-family='monospace%2c sans-serif' fill='%23555'%3e250%c3%97250%3c/text%3e%3c/svg%3e",
    'apostrophes': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 30'%3e%3cpath d='M7.636 29.454c-2.545 0-4.454-.787-5.727-2.363C.636 25.454 0 23.333 0 20.727c0-3.09.788-6.394 2.364-9.909C3.939 7.242 6.273 3.636 9.364 0l3.363 2.545c-1.273 1.576-2.575 3.788-3.909 6.637-1.273 2.788-1.94 5.364-2 7.727a6.61 6.61 0 0 1 1.91-.273c1.696 0 3.12.485 4.272 1.455 1.152.909 1.727 2.303 1.727 4.182 0 2-.697 3.697-2.09 5.09-1.334 1.395-3 2.091-5 2.091zm17.273 0c-2.545 0-4.454-.787-5.727-2.363-1.273-1.637-1.91-3.758-1.91-6.364 0-3.09.789-6.394 2.364-9.909 1.576-3.576 3.91-7.182 7-10.818L30 2.545c-1.273 1.576-2.576 3.788-3.91 6.637-1.272 2.788-1.939 5.364-2 7.727a6.61 6.61 0 0 1 1.91-.273c1.697 0 3.121.485 4.273 1.455C31.424 19 32 20.394 32 22.273c0 2-.697 3.697-2.09 5.09-1.334 1.395-3 2.091-5 2.091z' fill='___color___'/%3e%3c/svg%3e",
    'arrow': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 18'%3e%3cpath clip-rule='evenodd' d='M9.707.293a1 1 0 0 1 0 1.414L2.414 9l7.293 7.293a1 1 0 0 1-1.414 1.414l-8-8a1 1 0 0 1 0-1.414l8-8a1 1 0 0 1 1.414 0z' fill='___color___'/%3e%3c/svg%3e",
    'burger': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 600'%3e%3cpath d='M300 220h240c200 0 100 320-20 200L300 200M300 320h240'/%3e%3cpath d='M300 428h240c200 0 100-320-20-200L300 448'/%3e%3c/svg%3e",
    'check': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.64.232a1 1 0 0 1 .128 1.408l-5 6a1 1 0 0 1-1.475.067l-3-3a1 1 0 1 1 1.414-1.414l2.226 2.226L8.232.359A1 1 0 0 1 9.64.233z' fill='%23BE8D7E'/%3e%3c/svg%3e",
    'dropdown': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M.342.377a1.092 1.092 0 0 1 1.65 0L7 5.896l5.008-5.52a1.092 1.092 0 0 1 1.65 0 1.38 1.38 0 0 1 0 1.819L7.825 8.623a1.092 1.092 0 0 1-1.65 0L.342 2.195a1.38 1.38 0 0 1 0-1.818z' fill='var(--fill-color)' stroke='var(--stroke-color)'/%3e%3c/svg%3e",
    'earth': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3e%3cpath d='M15.364 2.64A8.941 8.941 0 0 0 9.122.006a1.355 1.355 0 0 0-.244 0A8.941 8.941 0 0 0 2.636 2.64 8.934 8.934 0 0 0 0 9c0 2.403.936 4.662 2.636 6.36a8.941 8.941 0 0 0 6.242 2.634 1.365 1.365 0 0 0 .244 0 8.941 8.941 0 0 0 6.242-2.633A8.934 8.934 0 0 0 18 9a8.934 8.934 0 0 0-2.636-6.36zm-11.971.756A7.888 7.888 0 0 1 6.769 1.39a8.59 8.59 0 0 0-.819 1.122c-.328.532-.613 1.11-.85 1.72H2.663c.221-.293.464-.573.729-.837zm-1.41 1.906h2.756a13.412 13.412 0 0 0-.498 3.163H1.088a7.86 7.86 0 0 1 .894-3.163zm0 7.396a7.86 7.86 0 0 1-.895-3.163h3.153c.042 1.092.211 2.16.498 3.163H1.982zm1.41 1.906a8.026 8.026 0 0 1-.73-.837H5.1c.238.61.523 1.188.851 1.72.258.418.535.794.82 1.122a7.888 7.888 0 0 1-3.377-2.005zm5.072 2.107c-.446-.292-1.044-.877-1.604-1.785a9.386 9.386 0 0 1-.605-1.159h2.209v2.944h0zm0-4.013h-2.61a12.231 12.231 0 0 1-.544-3.163h3.154v3.163zm0-4.233H5.311c.046-1.101.232-2.172.544-3.163h2.61v3.163zm0-4.232H6.256c.178-.407.38-.795.605-1.159.56-.908 1.158-1.493 1.604-1.785v2.944h0zm7.553 1.069a7.86 7.86 0 0 1 .894 3.163h-3.153a13.41 13.41 0 0 0-.498-3.163h2.757zm-1.41-1.906c.264.264.507.544.728.837h-2.435a10.639 10.639 0 0 0-.851-1.72 8.58 8.58 0 0 0-.82-1.122 7.888 7.888 0 0 1 3.377 2.005zM9.534 1.289c.446.292 1.044.877 1.604 1.785.225.364.427.752.605 1.159H9.535V1.289h0zm0 4.013h2.61c.313.99.498 2.062.544 3.163H9.535V5.302zm3.154 4.233a12.229 12.229 0 0 1-.544 3.163h-2.61V9.535h3.154zM9.535 16.71v-2.944h2.209a9.38 9.38 0 0 1-.605 1.159c-.56.908-1.158 1.493-1.604 1.785zm5.072-2.107a7.888 7.888 0 0 1-3.376 2.005c.285-.328.561-.704.819-1.122.328-.532.613-1.11.85-1.72h2.436a8.041 8.041 0 0 1-.729.837zm1.41-1.906h-2.756c.287-1.003.456-2.071.498-3.163h3.153a7.86 7.86 0 0 1-.894 3.163z' fill='var(--fill-color)' stroke='var(--stroke-color)'/%3e%3c/svg%3e",
    'fb': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3e%3cpath d='M15.575 0H2.425A2.425 2.425 0 0 0 0 2.425v13.15A2.425 2.425 0 0 0 2.425 18H8.91l.012-6.432H7.25a.394.394 0 0 1-.394-.393L6.848 9.1c0-.218.176-.395.394-.395h1.669V6.702c0-2.324 1.42-3.59 3.494-3.59h1.702c.217 0 .394.176.394.394v1.748a.394.394 0 0 1-.394.394l-1.045.001c-1.128 0-1.346.536-1.346 1.323v1.734h2.478c.236 0 .42.206.392.44l-.246 2.074a.394.394 0 0 1-.392.348h-2.221L11.716 18h3.859A2.426 2.426 0 0 0 18 15.575V2.425A2.425 2.425 0 0 0 15.575 0z' fill='var(--fill-color)' stroke='var(--stroke-color)'/%3e%3c/svg%3e",
    'grid': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M.75 0h4.5A.75.75 0 0 1 6 .75v4.5a.75.75 0 0 1-.75.75H.75A.75.75 0 0 1 0 5.25V.75A.75.75 0 0 1 .75 0zM9.75 0h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75h-4.5A.75.75 0 0 1 9 5.25V.75A.75.75 0 0 1 9.75 0zM18.75 0h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1-.75-.75V.75a.75.75 0 0 1 .75-.75zM.75 9h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75H.75a.75.75 0 0 1-.75-.75v-4.5A.75.75 0 0 1 .75 9zM9.75 9h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1-.75-.75v-4.5A.75.75 0 0 1 9.75 9zM18.75 9h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 1 .75-.75zM.75 18h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75H.75a.75.75 0 0 1-.75-.75v-4.5A.75.75 0 0 1 .75 18zM9.75 18h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 1 .75-.75zM18.75 18h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 1 .75-.75z' fill='var(--fill-color)' stroke='var(--stroke-color)'/%3e%3c/svg%3e",
    'line': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 18'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0a1 1 0 0 1 1 1v16a1 1 0 1 1-2 0V1a1 1 0 0 1 1-1z' fill='%23D6D6D6'/%3e%3c/svg%3e",
    'menu-carret': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 10'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L9 7.586 16.293.293a1 1 0 1 1 1.414 1.414l-8 8a1 1 0 0 1-1.414 0l-8-8a1 1 0 0 1 0-1.414z' fill='var(--fill-color)' stroke='var(--stroke-color)'/%3e%3c/svg%3e",
    'search-arrow': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 12'%3e%3cpath d='M1 5.25a.75.75 0 0 0 0 1.5v-1.5zm18.03 1.28a.75.75 0 0 0 0-1.06L14.257.697a.75.75 0 0 0-1.06 1.06L17.439 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L19.03 6.53zM1 6.75h17.5v-1.5H1v1.5z' fill='var(--fill-color)' stroke='var(--stroke-color)'/%3e%3c/svg%3e",
    'search': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3e%3cpath d='M12.758 11.618l-.29.344.313.324 4.283 4.456a.449.449 0 0 1-.012.633h0a.443.443 0 0 1-.31.125.441.441 0 0 1-.323-.137s0 0 0 0l-4.317-4.49-.297-.309-.35.247a6.69 6.69 0 0 1-3.877 1.224A6.776 6.776 0 0 1 .811 7.267 6.776 6.776 0 0 1 7.578.5a6.776 6.776 0 0 1 6.768 6.767c0 1.597-.562 3.131-1.588 4.35zm.692-4.35a5.878 5.878 0 0 0-5.872-5.872 5.878 5.878 0 0 0-5.871 5.871 5.878 5.878 0 0 0 5.871 5.872 5.878 5.878 0 0 0 5.872-5.872z' stroke='var(--stroke-color)' fill='var(--fill-color)'/%3e%3c/svg%3e",
    'separator': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 69 1'%3e%3cpath fill='___color___' d='M0 0h69v1H0z'/%3e%3c/svg%3e",
    'twitter': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 17'%3e%3cpath d='M17.714 2.03c-.4.19-.815.34-1.241.448A4.182 4.182 0 0 0 17.494.739c.057-.19-.136-.354-.297-.252a6.912 6.912 0 0 1-1.897.837.485.485 0 0 1-.45-.12 3.74 3.74 0 0 0-3.798-.832c-1.258.417-2.23 1.526-2.534 2.895a4.72 4.72 0 0 0-.092 1.527.155.155 0 0 1-.035.116.14.14 0 0 1-.12.051C5.515 4.688 3.03 3.27 1.275.968a.196.196 0 0 0-.332.028A4.366 4.366 0 0 0 .418 3.08a4.29 4.29 0 0 0 1.157 2.956A3.348 3.348 0 0 1 .69 5.67c-.134-.08-.3.022-.301.187-.02 1.67.896 3.156 2.266 3.825h-.083c-.217 0-.437-.021-.653-.066-.152-.03-.279.123-.232.28.445 1.484 1.641 2.578 3.072 2.826a6.84 6.84 0 0 1-4.01 1.302h-.45a.301.301 0 0 0-.29.24c-.034.14.03.289.148.362a10.132 10.132 0 0 0 5.352 1.542c1.645 0 3.183-.349 4.573-1.037 1.274-.63 2.4-1.532 3.347-2.68a11.936 11.936 0 0 0 2.049-3.667c.456-1.3.696-2.689.696-4.014v-.063c0-.213.09-.413.248-.55a8.031 8.031 0 0 0 1.543-1.809c.113-.18-.065-.407-.251-.319z' fill='var(--fill-color)' stroke='var(--stroke-color)'/%3e%3c/svg%3e",
    'ufo': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 280 280'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M241.817 254.546H38.182l76.363-178.182h50.909l76.363 178.182z' fill='%23BE8D7E'/%3e%3cpath d='M279.999 89.09c0-28.117-62.679-50.908-139.998-50.908C62.679 38.182 0 60.973 0 89.09s62.68 50.911 140.001 50.911c77.319 0 139.998-22.794 139.998-50.91z' fill='%23D6DEFF'/%3e%3cpath d='M279.999 89.09c0-28.117-62.679-50.908-139.998-50.908C62.679 38.182 0 60.973 0 89.09s62.68 50.911 140.001 50.911c77.319 0 139.998-22.794 139.998-50.91z' fill='%23333'/%3e%3cpath d='M267.273 76.364c0-21.089-56.982-38.182-127.272-38.182S12.727 55.275 12.727 76.364c0 21.088 56.983 38.181 127.274 38.181 70.29 0 127.272-17.093 127.272-38.181z' fill='%23999'/%3e%3cpath d='M254.546 82.728c0-17.574-42.738-31.82-95.455-31.82-52.719 0-95.454 14.246-95.454 31.82 0 17.572 42.735 31.817 95.454 31.817 52.717 0 95.455-14.245 95.455-31.817z' fill='%23666'/%3e%3cpath d='M241.817 254.546c0-14.059-45.585-25.455-101.816-25.455-56.234 0-101.82 11.396-101.82 25.455 0 14.057 45.586 25.453 101.82 25.453 56.231 0 101.816-11.396 101.816-25.453z' fill='%23996152'/%3e%3cpath d='M63.637 76.364C63.637 34.19 97.824 0 140 0c42.174 0 76.364 34.19 76.364 76.364 0 0-25.455 12.726-76.364 12.726-50.91 0-76.363-12.726-76.363-12.726z' fill='%23999'/%3e%3cpath d='M138.865 18.41c-4.139-7.506-18.383-7.588-31.813-.181-13.433 7.403-20.964 19.491-16.828 26.998 4.139 7.504 18.383 7.585 31.813.181 13.432-7.406 20.964-19.491 16.828-26.998z' fill='%23D6D6D6'/%3e%3cpath d='M111.891 15.374c-4.295-4.29-12.286-3.256-17.848 2.312-5.563 5.567-6.59 13.558-2.296 17.848 4.293 4.29 12.284 3.256 17.847-2.311 5.562-5.568 6.59-13.559 2.297-17.85z' fill='%23F0F0F0'/%3e%3cpath d='M101.819 50.908c0 7.031-5.698 12.73-12.73 12.73-7.028 0-12.726-5.699-12.726-12.73 0-7.028 5.698-12.726 12.727-12.726 7.03 0 12.729 5.698 12.729 12.726zM152.727 63.637c0 7.029-5.698 12.727-12.727 12.727-7.031 0-12.729-5.698-12.729-12.727 0-7.03 5.698-12.729 12.729-12.729 7.029 0 12.727 5.698 12.727 12.73zM203.635 50.908c0 7.031-5.698 12.73-12.727 12.73-7.028 0-12.726-5.699-12.726-12.73 0-7.028 5.698-12.726 12.726-12.726 7.029 0 12.727 5.698 12.727 12.726z' fill='white'/%3e%3cpath d='M76.356 267.28a12.743 12.743 0 0 1-11.689-17.749l38.182-89.092c2.768-6.463 10.251-9.46 16.714-6.689 6.462 2.771 9.454 10.259 6.679 16.719L88.06 259.561a12.731 12.731 0 0 1-11.704 7.719z' fill='white' fill-opacity='.5'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3cpath fill='white' d='M0 0h280v280H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"
);

$sizes: (
    '250x250': (
        'width': 250px,
        'height': 250px
    ),
    'apostrophes': (
        'width': 32px,
        'height': 30px
    ),
    'arrow': (
        'width': 10px,
        'height': 18px
    ),
    'burger': (
        'width': 800px,
        'height': 600px
    ),
    'check': (
        'width': 10px,
        'height': 8px
    ),
    'dropdown': (
        'width': 14px,
        'height': 9px
    ),
    'earth': (
        'width': 18px,
        'height': 18px
    ),
    'fb': (
        'width': 18px,
        'height': 18px
    ),
    'grid': (
        'width': 24px,
        'height': 24px
    ),
    'line': (
        'width': 2px,
        'height': 18px
    ),
    'menu-carret': (
        'width': 18px,
        'height': 10px
    ),
    'search-arrow': (
        'width': 20px,
        'height': 12px
    ),
    'search': (
        'width': 18px,
        'height': 18px
    ),
    'separator': (
        'width': 69px,
        'height': 1px
    ),
    'twitter': (
        'width': 18px,
        'height': 17px
    ),
    'ufo': (
        'width': 280px,
        'height': 280px
    )
);

$variables: (
    'apostrophes': (
        'color': 'inherit'
    ),
    'arrow': (
        'color': 'inherit'
    ),
    'separator': (
        'color': '#f0f'
    )
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $encoded: '';
    $slice: 2000;
    $index: 0;

    @for $i from 1 through ceil(str-length($value) / $slice) {
        $chunk: str-slice($value, $index, $index + $slice - 1);
        $chunk: sprite-str-replace($chunk, '"', "'");
        $chunk: sprite-str-replace($chunk, '<', '%3C');
        $chunk: sprite-str-replace($chunk, '>', '%3E');
        $chunk: sprite-str-replace($chunk, '&', '%26');
        $chunk: sprite-str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return $encoded;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprites, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote(#{$value})));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        background-size: map-get($size, width) map-get($size, height);
    }
}
