.article {
  margin-bottom: 45px;
  &__credits {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    font-size: 11px;
    @include rwd(iphone) {
      font-size: 13px;
    }
    color: $steel;
    margin-bottom: 25px;
  }
  &__subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    font-size: rem(18);
    @include rwd(tablet) {
      line-height: 31px;
      font-size: rem(20);
    }
    color: #3D3D3D;
    margin-bottom: 25px;
  }
  &__text {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;
    font-size: rem(18);
    color: #333333;
    margin-bottom: 40px;
  }
  &__img {
    &--section {
      @include rwd(mobile) {
        display: flex;
      }
    }
    & img {
      max-width: 100%;
      margin-bottom: 15px;
    }
    &__desc {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 19px;
      font-size: rem(12);
      margin-bottom: $space;
      @include rwd(medium) {
        line-height: 21px;
        font-size: rem(13);
        margin-bottom: $space-double;
      }
      color: #3D3D3D;
    }
    &--half {
      @include rwd(mobile) {
        max-width: calc(50% - 20px);
        &:nth-child(odd) {
          padding-right: 20px;
        }
        &:nth-child(even) {
          padding-left: 20px;
        }
      }
    }
  }
  &__info {
    &__author {
      margin-right: 10px;
      color: #666;
    }
    &__date {
      margin-left: 10px;
      margin-right: 10px;
    }
    &__tag {
      margin-left: 10px;
      color: $dark-orange;
    }
  }
}

.content--article {
  &.container--centered {
    .article {
      & > *:not(.wp-block-image):not(.wp-block-columns) {
        @include rwd(medium) {
          margin-left: 80px;
          margin-right: 80px;
        }
      }
      & p:not(.article__subtitle) {
        font-family: Lora;
        font-style: normal;
        font-weight: normal;
        line-height: 35px;
        font-size: 18px;
        letter-spacing: 0.02em;
      }
    }
  }
}

.content--article.content--with-sidebar {
  .article {
    @include rwd(medium) {
      margin-right: 80px;
    }
  }
}
