/*
.btn
 */

.wp-block-button {
  .wp-block-button__link {
    font-size: rem(18);
    font-weight: 400;
    padding: 15px 30px;

    @include rwd(medium) {
      font-size: rem(20);
    }
  }

  &.is-style-rounded-square {
    .wp-block-button__link {
      border-radius: 6px;
    }
  }

  &.is-style-rounded {
    .wp-block-button__link {
      border-radius: 30px;
    }
  }
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  background: $light-red;
  border-radius: 6px;
  line-height: (24/18);
  font-size: rem(18);
  text-align: center;
  color: $romance;
  padding: 15px 30px;
  font-weight: 500;
  text-decoration: none !important;
  font-family: $font-family;

  &:hover, &:focus {
    background: $dark-red;
  }

  &--rounded {
    border-radius: 30px;
  }

  &--bigger{
    padding: 19px 43px;
  }

  &--wide{
    padding-left: 56px;
    padding-right: 56px;
  }

  &--big-font{
   font-size: rem(20);
  }

  &--black{
    background: #000;
    color: $romance;

    &:hover, &:focus{
      background: $button-gray;
    }
  }

  &--white{
    background: $romance;
    box-shadow: 0 0 6px rgba(140, 149, 155, 0.5);
    color: $dark-red;

    &:hover, &:focus{
      background: $black;
      color: $romance;
    }
  }
}
