/*
.btn
 */

.wp-block-button {
  .wp-block-button__link {
    font-size: rem(18);
    font-weight: 400;

    @include rwd(medium) {
      font-size: rem(20);
    }


    &.has-starter-cyan-background-color {
      background-color: $cyan-color;

      &:hover {
        background-color: darken($cyan-color, 5);
      }
    }
  }

  &.is-style-rounded-square {
    .wp-block-button__link {
      border-radius: 6px;
    }
  }
}
