.content {
  margin-top: $space-triple;
  &--with-sidebar {
    display: flex;
    & .content {
      &__left {
        width: 76%;
      }
      &__right {
        width: 24%;
        padding-left: 77px;
        border-left: 1px solid $text-color-gray--lighter;
      }
    }
  }
  &--article {
    margin-top: 25px;
    & .sidebar {
      margin-top: 40px;
    }
  }
}
