.wp-block-button {

  .wp-block-button__link {
    background: $brandy-rose;
    color: $romance;

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    border-radius: 6px;

    transition: .3s;

    &:hover,
    &:focus {
      background: $dark-tan;
    }
  }

  &.is-style-outline {
    .wp-block-button__link {
      background: transparent;
      color: $text-color;

      &:hover,
      &:focus {
        background: $black;
        color: $gallery;
      }
    }
  }

  &.is-style-dark {
    .wp-block-button__link {
      background: $black;
      color: $romance;

      &:hover,
      &:focus {
        background: $steel;
      }
    }
  }
}
