.wp-block-separator {
  border: 0;
  border-top: 1px solid $light-gray;
  height: 1px;
  padding: 0;

  &.is-style-wide {
    width: 100%;
  }

  &.is-short {
    width: 30px;
    border-color: $dark-orange;
  }
  &.is-style-dots-line {
    border-style: dotted;
    border-color: $light-gray;
  }

  &.no-margin-top {
    margin-top: 0;
  }
  &.no-margin-left {
    margin-left: 0;
  }
  &.has-margin-vertical-big {
    margin-top: 45px;
    margin-bottom: 50px;
  }
}
