.pagination {
  margin-top: $space-double;
  margin-bottom: $space-double;
  @include rwd(medium) {
    margin-top: $space-quadruple;
    margin-bottom: $space-quadruple;
  }
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  &__link {
    color: $steel;
    margin-left: 10px;
    margin-right: 15px;
    &:hover {
      color: $black;
    }
    @include rwd(tablet) {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
  &__item {
    &--sm-hidden {
      display: none;
      @include rwd(tablet) {
        display: block;
      }
    }
    &.dots {
      color: $black;
    }
    &.nav {
      background-color: $gallery;
      height: 34px;
      width: 34px;
      &:hover {
        background-color: $text-color-gray;
      }
      @include rwd(tablet) {
        height: 38px;
        width: 38px;
      }
      &.first {
        margin-right: 10px;
      }
      &.last {
        margin-left: 10px;
      }
      & .pagination__link {
        height: 34px;
        width: 34px;
        @include rwd(tablet) {
          height: 38px;
          width: 38px;
        }
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  & .active,
  & .current{
    & .pagination {
      &__link {
        color: $black;
      }
    }
  }
}
