.related-articles {
  margin-top: 53px;
  margin-bottom: 40px;
  &__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    font-size: 24px;
    color: $black;
    margin-bottom: 31px;
  }
  &__item {
    & a {
      display: flex;
      margin-bottom: 30px;
    }
    @include rwd(tablet) {
      & a {
        display: block;
        margin-bottom: 0;
      }
    }
    & img {
      width: 100px;
      height: 100px;
      margin-right: 15px;
      @include rwd(tablet) {
        width: auto;
        height: auto;
        margin-right: 0;
      }
    }
    @include rwd(tablet) {
      width: 33.3%;
    }
    @include rwd(medium) {
      width: 25%;
    }
    @include rwd(tablet) {
      &:not(:first-child) {
        padding-left: 20px;
      }
    }
    @include rwd(tablet) {
      &:not(:last-child) {
        padding-right: 20px;
      }
    }
    &:last-child {
      display: none;
      @include rwd(medium) {
        display: block;
      }
    }
    &__title {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      font-size: 13px;
      color: $black;
      @include rwd(tablet) {
        margin-top: 15px;
      }
    }
  }
  &__items {
    display: block;
    @include rwd(tablet) {
      display: flex;
    }
  }
}
