.grid {
  display: flex;
  @include rwdmax(mobile) {
    flex-direction: column;
  }

  display: grid;

  &.grid-row {
    &__two {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $grid_gap;
      justify-content: center;
    }
    
    &__three {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $grid_gap;
      justify-content: center;
    }

    &__four {
      grid-template-columns: 1fr;
      grid-gap: $grid_gap;
      justify-content: center;
      
      @include rwd(mobile) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include rwd(tablet) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

  }
}

.flex-ai-center {
  display: flex;
  align-items: center;
}