/*
a
a:hover
 */
a:not(#wpadminbar a),
.link {
  text-decoration: none;
  position: relative;

  span:not(#wpadminbar span):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: $brandy-rose;
    visibility: hidden;
    transform: scaleX(0);
    transition: .10s ease;
  }

  span:not(#wpadminbar span):hover:before,
  span:not(#wpadminbar span):focus:before,
  span:not(#wpadminbar span).active:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
