/*
a
a:hover
 */
a:not(.ab-item),
.link {
  text-decoration: none;
  position: relative;

  span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: $brandy-rose;
    visibility: hidden;
    transform: scaleX(0);
    transition: .10s ease;
  }

  span:hover:before,
  span:focus:before,
  span.active:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
