/*
table
th
tr
 */

table {
	border-collapse: collapse;
	width: 100%;
	margin: 60px 0;
	font-size: 16px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	overflow: hidden;

	tr:first-child {
		font-size: 18px;
	}

	tr:last-child {
		font-weight: bold;
		font-size: 18px;
	}
}

th {
	border-bottom: 1px solid $light-gray;
	background: $light-red;
	color: $romance;
	font-weight: 400;
	padding: 20px 30px 20px 30px;
	text-align: left;
}

td {
	padding: 20px 30px 20px 30px;
	color: $dark-gray;
	border-bottom: 1px solid $semi-white;
}
