.search-posts {
  margin-bottom: 120px;
}

.search-post {
  font-style: normal;
  &:not(:last-child) {
    margin-bottom: 58px;
  }
  &__title {
    font-weight: bold;
    line-height: 32px;
    font-size: rem(24);
    color: $black;
  }
  &__link {
    font-weight: 500;
    line-height: 29px;
    font-size: rem(18);
    text-decoration: underline!important;
    color: $light-red;
    margin-top: 6px;
    margin-bottom: 13px;
  }
  &__excerpt {
    margin-top: 13px;
    font-weight: 500;
    line-height: 30px;
    font-size: rem(18);
    letter-spacing: 0.02em;
    color: $mine-shaft;
  }
}
