{% if menu %}
<ul class="menu-item">
  {% for item in menu %}
    <li class="{{item.classes | join(' ')}} {{ class }}">
      <a href="{{ item.get_link }}">
        <span>{{ item.title }}</span>
      </a>
      {% include "menu.twig" with { 'menu': item.get_children } %}
    </li>
    {% endfor %}
  </ul>
{% endif %}