<div class="tag-cloud-links {{ centered ? 'tag-cloud-links--centered tag-cloud-links--inside-article' }} {{ modify == 'inside_article' ? 'tag-cloud-links--title-inline' }}">
    {{ fn('the_widget', 'WP_Widget_Tag_Cloud') }}
</div>
