{% extends "base.twig" %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            {% if posts %}
                <header class="page-header">
                    {{ fn('the_archive_title', '<h1 class="page-title">', '</h1>') }}
                    {{ fn('the_archive_description', '<div class="taxonomy-description">', '</div>') }}
                </header><!-- .page-header -->

                <div class="content">
                    <div class="entry-content">
                        <div class="articles">
                            <div class="articles__item">
                                <div class="article article--half">
                                    <img class="article__img" src="./img/blog-article-list/Rectangle%202.11.jpg" alt="article img">
                                    <div class="article__info">
                                        <hr class="wp-block-separator is-short no-margin-top no-margin-left">
                                        <div class="article__info__tag">Coal</div>
                                        <div class="article__info__title">Coal a combustible sedimentary rock formed in coal seams</div>
                                        <div class="article__info__credits">
                                            by <span class="article__info__author">JOHN DOE</span> | <span class="article__info__date">FEBRUARY 18, 2019</span>
                                        </div>
                                        <div class="article__info__content">
                                            Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft...
                                        </div>
                                    </div>
                                </div>
                                <div class="article article--half">
                                    <img class="article__img" src="./img/blog-article-list/Rectangle%202.14.jpg" alt="article img">
                                    <div class="article__info">
                                        <hr class="wp-block-separator is-short no-margin-top no-margin-left">
                                        <div class="article__info__tag">Photography</div>
                                        <div class="article__info__title">B&W Portraits. The art of capturing light and shadows</div>
                                        <div class="article__info__credits">
                                            by <span class="article__info__author">JOHN DOE</span> | <span class="article__info__date">FEBRUARY 18, 2019</span>
                                        </div>
                                        <div class="article__info__content">
                                            A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="articles__item">
                                <div class="article article--half">
                                    <img class="article__img" src="./img/blog-article-list/Rectangle%202.16.jpg" alt="article img">
                                    <div class="article__info">
                                        <hr class="wp-block-separator is-short no-margin-top no-margin-left">
                                        <div class="article__info__tag">Lifestyle</div>
                                        <div class="article__info__title">Coal a combustible sedimentary rock formed in coal seams</div>
                                        <div class="article__info__credits">
                                            by <span class="article__info__author">JOHN DOE</span> | <span class="article__info__date">FEBRUARY 18, 2019</span>
                                        </div>
                                        <div class="article__info__content">
                                            Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft...
                                        </div>
                                    </div>
                                </div>
                                <div class="article article--half">
                                    <img class="article__img" src="./img/blog-article-list/Rectangle%202.18.jpg" alt="article img">
                                    <div class="article__info">
                                        <hr class="wp-block-separator is-short no-margin-top no-margin-left">
                                        <div class="article__info__tag">Art</div>
                                        <div class="article__info__title">B&W Portraits. The art of capturing light and shadows</div>
                                        <div class="article__info__credits">
                                            by <span class="article__info__author">JOHN DOE</span> | <span class="article__info__date">FEBRUARY 18, 2019</span>
                                        </div>
                                        <div class="article__info__content">
                                            A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="articles__item">
                                <div class="article article--half">
                                    <img class="article__img" src="./img/blog-article-list/Rectangle%202.20.jpg" alt="article img">
                                    <div class="article__info">
                                        <hr class="wp-block-separator is-short no-margin-top no-margin-left">
                                        <div class="article__info__tag">Water</div>
                                        <div class="article__info__title">Coal a combustible sedimentary rock formed in coal seams</div>
                                        <div class="article__info__credits">
                                            by <span class="article__info__author">JOHN DOE</span> | <span class="article__info__date">FEBRUARY 18, 2019</span>
                                        </div>
                                        <div class="article__info__content">
                                            Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft...
                                        </div>
                                    </div>
                                </div>
                                <div class="article article--half">
                                    <img class="article__img" src="./img/blog-article-list/Rectangle%202.22.jpg" alt="article img">
                                    <div class="article__info">
                                        <hr class="wp-block-separator is-short no-margin-top no-margin-left">
                                        <div class="article__info__tag">Life</div>
                                        <div class="article__info__title">B&W Portraits. The art of capturing light and shadows</div>
                                        <div class="article__info__credits">
                                            by <span class="article__info__author">JOHN DOE</span> | <span class="article__info__date">FEBRUARY 18, 2019</span>
                                        </div>
                                        <div class="article__info__content">
                                            A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="articles__item">
                                <div class="article article--half">
                                    <img class="article__img" src="./img/blog-article-list/Rectangle%202.24.jpg" alt="article img">
                                    <div class="article__info">
                                        <hr class="wp-block-separator is-short no-margin-top no-margin-left">
                                        <div class="article__info__tag">Water</div>
                                        <div class="article__info__title">Coal a combustible sedimentary rock formed in coal seams</div>
                                        <div class="article__info__credits">
                                            by <span class="article__info__author">JOHN DOE</span> | <span class="article__info__date">FEBRUARY 18, 2019</span>
                                        </div>
                                        <div class="article__info__content">
                                            Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft...
                                        </div>
                                    </div>
                                </div>
                                <div class="article article--half">
                                    <img class="article__img" src="./img/blog-article-list/Rectangle%202.26.jpg" alt="article img">
                                    <div class="article__info">
                                        <hr class="wp-block-separator is-short no-margin-top no-margin-left">
                                        <div class="article__info__tag">Nature</div>
                                        <div class="article__info__title">B&W Portraits. The art of capturing light and shadows</div>
                                        <div class="article__info__credits">
                                            by <span class="article__info__author">JOHN DOE</span> | <span class="article__info__date">FEBRUARY 18, 2019</span>
                                        </div>
                                        <div class="article__info__content">
                                            A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="pagination">
                            <li class="pagination__item nav first">
                                <a class="pagination__link" href="#!">
                                    <img class="line" src="./img/svg/line.svg" alt="line">
                                    <img class="arrow arrow--left" src="./img/svg/arrow.svg" alt="arrow">
                                </a>
                            </li>
                            <li class="pagination__item nav previous">
                                <a class="pagination__link" href="#!">
                                    <img class="arrow arrow--left" src="./img/svg/arrow.svg" alt="arrow">
                                </a>
                            </li>
                            <li class="pagination__item active"><a class="pagination__link" href="#!">1</a></li>
                            <li class="pagination__item"><a class="pagination__link" href="#!">2</a></li>
                            <li class="pagination__item"><a class="pagination__link" href="#!">3</a></li>
                            <li class="pagination__item pagination__item--sm-hidden"><a class="pagination__link" href="#!">4</a></li>
                            <li class="pagination__item pagination__item--sm-hidden"><a class="pagination__link" href="#!">5</a></li>
                            <li class="pagination__item dots"><a class="pagination__link" href="#!">...</a></li>
                            <li class="pagination__item nav next">
                                <a class="pagination__link" href="#!">
                                    <img class="arrow arrow--right" src="./img/svg/arrow.svg" alt="arrow">
                                </a>
                            </li>
                            <li class="pagination__item nav last">
                                <a class="pagination__link" href="#!">
                                    <img class="arrow arrow--right" src="./img/svg/arrow.svg" alt="arrow">
                                    <img class="line" src="./img/svg/line.svg" alt="line">
                                </a>
                            </li>
                        </ul>
                    </div><!-- .entry-content -->
                </div>

                </main><!-- #main -->
                </div><!-- #primary -->
                </div><!-- #content -->

                {% for post in posts %}
                    {# Include the Post-Format-specific template for the content.
                    If you want to override this in a child theme, then include a file
                    called content-___.twig (where ___ is the Post Format name) and that will be used instead. #}
                    {% include ['content-' ~ post.format ~ '.twig', 'content.twig'] %}
                {% endfor %}

                {{ fn('the_posts_navigation') }}
            {% else %}
                {% include ['content-none.twig', 'content.twig'] %}
            {% endif %}
        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}
