{% extends "base.twig" %}

{% block content %}
<div id="content" class="site-content">
    <div id="primary" class="content-area container">
        <main id="main" class="site-main" role="main">
            {% include 'template-parts/breadcrumbs.twig' %}
            {% if posts %}
                <header class="entry-header">
                    {{ fn('the_archive_title', '<h1 class="entry-title title title--page">', '</h1>') }}
                </header><!-- .page-header -->

                <hr class="wp-block-separator is-style-wide">

                <div class="content content--with-sidebar">
                    <div class="content__left entry-content">
                        <div class="articles">
                            {% for post in posts %}
                                {% include ['post-box.twig'] %}
                            {% endfor %}
                        </div>
                        {% include 'template-parts/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 1}) } %}
                    </div><!-- .entry-content -->
                    <div class="content__right sidebar">
                        {% include 'template-parts/tag-cloud.twig' %}
                    </div>
                </div>
            {% else %}
                {% include ['content-none.twig', 'content.twig'] %}
            {% endif %}
        </main><!-- #main -->
    </div><!-- #primary -->
</div>
{% endblock %}
