{% block html_head_container %} {% include 'html-header.twig' %} {% block head %} {% endblock %}
</head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
  <a class="skip-link visuallyhidden focusable" href="#page-body">{{ __('Skip to content', '_t') }}</a>
  {% include 'header.twig' %}
      

    <div id="content" class="site-content">
      {% block content %} {% include ['content-none.twig', 'content.twig'] %} {% endblock %}
    </div><!-- #content -->

    {{ sidebar }} {% block footer %}
    <footer id="colophon" class="site-footer" role="contentinfo">
      {% include 'footer.twig' %}
    </footer><!-- #colophon -->
    {% endblock %}
  </div><!-- #page -->

  {{ function('wp_footer') }}
</body>

</html>