{% block html_head_container %} {% include 'html-header.twig' %} {% block head %} {% endblock %}
</head>
{% endblock %}

{% set more_body_classes = '' %}
{% if top_menu %}
  {% set more_body_classes = 'has-top-menu' %}
{% endif %}
{% if main_menu %}
  {% set more_body_classes = 'has-main-menu' %}
{% endif %}
{% if top_menu and main_menu %}
  {% set more_body_classes = 'has-top-and-main-menus' %}
{% endif %}

<body class="{{ body_class }} {{ more_body_classes }}" data-template="base.twig">
  {% include 'header.twig' %}

    <div id="content" class="site-content">
      {% block content %} {% include ['content-none.twig', 'content.twig'] %} {% endblock %}
    </div><!-- #content -->

    {{ sidebar }} {% block footer %}
    <footer id="colophon" class="site-footer" role="contentinfo">
      {% include 'footer.twig' %}
    </footer><!-- #colophon -->
    {% endblock %}
  </div><!-- #page -->

  {{ function('wp_footer') }}
</body>

</html>
