<div class="site-info">
    <a href="{{ __('https://wordpress.org/', '_t') }}">{{ __('Proudly powered by %s', '_t' )|format('WordPress') }}</a>
    <span class="sep"> | </span>
    {{ __('Theme: %s by %s.', '_t')|format('_t', '<a href="http://frontkom.no" rel="designer">Frontkom</a>') }}
</div><!-- .site-info -->