{% extends "base.twig" %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            {% if posts %}
                <header class="page-header">
                    <h1 class="page-title">{{ __('Search Results for: %s', '_t')|format('<span>' ~ fn('get_search_query') ~ '</span>') }}</h1>
                </header><!-- .page-header -->

                {% for post in posts %}
                    {# Run the loop for the search to output the results.
				    If you want to overload this in a child theme then include a file
				    called content-search.twig and that will be used instead. #}
                    {% include ['content-search.twig', 'content.twig'] %}
                {% endfor %}

                {{ fn('the_posts_navigation') }}
            {% else %}
                {% include ['content-none.twig', 'content.twig'] %}
            {% endif %}
        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}