$text-color: #000000;

$green-color: #59a13e;
$red-color: #F0192A;
$blue-color: #2C27CE;
$blue-darken: #2622B4;
$cyan-color: #16B1FF;

$faded-black: rgba(0, 0, 0, 0.33);
$gray-color: #ABABAB;



$brandy-rose: #BE8D7E;
$black: #000000;
$mine-shaft: #333333;
$steel: #666666;
$light-gray: #D6D6D6;
$gallery: #F0F0F0;
$romance: #FFFFFF;
