
        $text-color: #000000;
        $dark-tan: #926355;
        $brandy-rose: #be8d7e;
        $black: #000000;
        $mine-shaft: #333333;
        $steel: #666666;
        $gray-color: #ABABAB;
        $light-gray: #D6D6D6;
        $gallery: #F0F0F0;
        $romance: #FFFFFF;