
        $text-color: #000000;
        $dark-tan: #926355;
        $brandy-rose: #be8d7e;
        $black: #000000;
        $mine-shaft: #333333;
        $steel: #666666;
        $gray-color: #ABABAB;
        $light-gray: #D6D6D6;
        $gallery: #F0F0F0;
        $romance: #FFFFFF;
        $light-red: #BE8D7E;
        $text-color-gray--lighter: #D6D6D6;
        $dark-gray: #2c3238;
        $light-red: #e93350;
        $dark-red: #b91e37;
        $semi-white: #d1dbe6;
        $gray: #8c959b;
        $light-gray: #f3f6f8;
        $button-gray: #4f5c65;
        $text-color-gray: #999999;
    