## General
.cvs
.htaccess
.svn
*.bak
*.swp
.idea
.history
.vscode

## Windows
Desktop.ini
Thumbs.db

## Mac
.DS_Store

## Development
node_modules
assets/
!inc/customizer_social_icons/assets/

## Local configurations
local-config.json
